// Media queries
@use './header-mediaqueries.scss';

// Navbar
.nav {
	margin-left: 30px;

	> li {
		position: relative;
		font-size: 17px;
		width: 120px;
		height: 60px;
		text-align: center;
		line-height: 60px;
		cursor: default;
		margin-bottom: -6px;
		transition: background 0.32s;
		margin-right: 5px;

		&:hover {
			background: rgb(245, 241, 234);
			border-top: 2px solid orange;
			color: black;

			.nav-dropdown {
				top: -2px;
			}
		}

		&.affiliates-link {
			&:hover a {
				color: black;
			}
		}

		.webhosting-dropdown,
		.nav-dropdown {
			display: block;
			position: relative;
			top: 0px;
			background: rgb(245, 241, 234);
			box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.45);
			border-radius: 0 0 4px 4px;
			z-index: 10000;

			&.webhosting-dropdown,
			&.aboutus-dropdown {
				width: 960px;
				left: -200px;

				svg {
					width: 60px;
					height: 60px;
				}
			}

			&.tech-dropdown {
				width: 600px;
				left: -100px;
			}

			.grid-list {
				width: 100%;
				display: grid;
				grid-template-rows: 170px;
				grid-column-gap: 20px;
				padding: 15px;

				&.hosting-list,
				&.aboutus-list {
					grid-template-columns: repeat(4, 1fr);
				}

				&.tech-list {
					grid-template-columns: repeat(2, 1fr);
					grid-template-rows: 150px;

					.card-box {
						margin-top: 5px;

						i {
							color: black;
						}
					}
				}

				&.aboutus-list {
					grid-template-rows: 150px;
				}

				.list-card {
					background: white;
					border-radius: 4px;

					&:hover {
						box-shadow: 0px 0px 8px 0 orange;
					}

					.card-box {
						display: block;
						padding: 10px;
						text-decoration: none;
						margin-top: 15px;

						svg {
							margin-bottom: -15px;
							margin-top: -6px;
						}

						i {
							font-size: 43px;
						}

						h4 {
							color: #222;
							font-size: 16px;
							margin: 0;
							margin-bottom: -8px;
						}

						p {
							font-size: 15px;
							color: rgb(129, 129, 129);
							margin-bottom: 0;
						}
					}

					&.woo-list svg,
					&.cloud-list svg {
						height: 60px;
						width: 60px;
					}

					&.woo-list svg {
						color: purple;
					}
					&.cloud-list svg {
						color: green;
					}
				}
			}
		}
	}
}

// Mobile navbar
.mobile-navbar-container {
	width: 280px;

	.mob-nav-list {
		width: 100%;
		margin: 0;

		span {
			display: inline-block;
			color: rgb(204, 194, 194);
			background: rgb(52, 50, 48);
			width: inherit;
			padding: 5px;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 300;
		}

		.inner-list {
			width: 100%;

			li {
				display: flex;
				align-items: center;
				background: #474340;
				color: #fff;
				height: 40px;
				transition: background 0.34s;

				a {
					padding-left: 13px;
					display: inline-block;
					width: 100%;

					i {
						font-size: 19px;
						margin-right: 5px;
						color: rgb(241, 189, 95, 75%);
					}
				}

				&:hover {
					background: rgb(33, 33, 33);
				}
			}
		}
	}
}

// Landing Page
.landing-page {
	min-height: 100vh;
	background-image: url("../images/landing-page-image.png"),
		url("../images/recentyl-lanuched-img.png");
	background-size: auto, auto;
	background-position: center -50px, left top;
	background-repeat: no-repeat, repeat;

	.landing-page-wrapper {
		padding: {
			top: 40px;
			bottom: 0;
		}

		.content {
			position: relative;
			display: flex;
			margin: 50px 0;

			img {
				position: absolute;
			}

			.info {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				text-align: center;

				h1 {
					margin: 30px 0;
					font-weight: 640;
				}

				h2 {
					color: rgb(205, 170, 114);
					margin-bottom: 50px;
				}

				em {
					color: rgb(102, 102, 102);
					font-size: 19px;
					font-weight: 540;
				}
			}
		}
	}

	.cards {
		background-color: rgb(214, 214, 213, 76%);
		clip-path: polygon(0 7%, 100% 1%, 100% 86%, 0 80%);
		min-height: 600px;
		display: flex;
		align-items: center;

		.container {
			margin-bottom: 80px;

			.owl-carousel {
				.owl-nav {
					position: absolute;
					left: 0;
					top: 40%;
					display: flex;
					justify-content: space-between;
					width: 100%;

					&.disabled {
						display: none !important;
					}

					button {
						position: relative;
						background: white;
						width: 35px;
						height: 35px;
						border-radius: 50%;
						box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.45);
						line-height: 32px;

						&:first-child {
							left: -22px;
						}

						&:last-child {
							right: -18px;
						}

						span,
						span:hover {
							font-size: 35px;
							top: 0;
							height: 100%;
							color: rgb(37, 184, 210);
						}
					}
				}

				.owl-stage {
					.owl-item .item {
						min-height: 100%;

						// Card box styling
						.cards__card .box {
							display: flex;
							justify-content: center;
							flex-direction: column;
							text-align: center;
							padding: 15px;
							min-height: 344px;
							transition: transform 0.3s;

							.card__img svg {
								width: 75px;
								height: 75px;
								transition: transform 0.3s;
							}

							.card__upper-title {
								text-transform: uppercase;
								color: rgb(164, 164, 164);
								font-size: 17px;
							}

							.card__title {
								margin: 4px 0 15px;
								font-size: 21px;
							}

							.card__description {
								color: rgb(102, 102, 102);
								margin-bottom: 20px;
							}

							.MuiButton-contained {
								transition: all 0.25s;

								&:hover {
									filter: brightness(0.92);
								}
							}
						}

						// Card hover action
						&:hover .box {
							transform: translateY(-5px) scale(1.03);

							svg {
								transform: scale(1.1);
							}
						}
					}
				}
			}
		}
	}
}

// media quiery
@media (min-width: 700px) and (max-width: 900px) {
	.landing-page {
		min-height: auto;
	}
}
